<footer>
  <img src="/imgs/bright-talks-logo.png" height="50">

  <nav>
    <a href="/">Home</a>
    <a href="/about">About</a>
    <a href="/portfolio">Portfolio</a>
    <a href="/contact">Contact</a>
    <a href="/tandc">Terms & Conditions</a>
  </nav>

  <p>thebrighttalksacademy@gmail.com</p>
  <p>© 2026 The Bright Talks Academy | Developed by Sinfoxmedia</p>
</footer>
</body>
</html>
